.bar{
  fill: steelblue;
}

.bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.Header{
  background-color: black;
  height: 100px;
}

.Header h1{
  color: white;
  text-align:center;
  padding-top: 30px;
}

svg{
 display: block;
margin: auto;
}
